<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

    <nav th:replace="layouts :: navbar"></nav>

    <div>
        <h4> Current Projects </h4>
        <table>
            <thead>
                <tr>
                    <th> Project Name</th>
                 <th> Project Stage</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="aProject : ${projects}">
                    <td th:text="${aProject.name}"/>
                    <td th:text="${aProject.stage}"/>
                </tr>
            </tbody>
        </table>

        <h4> Current Employees </h4>
        <table>
            <thead>
            <tr>
                <th> First Name</th>
                <th> Last Name</th>
                <th> Employee Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="singleEmployee : ${employeesList}">
                <td th:text="${singleEmployee.firstName}"/>
                <td th:text="${singleEmployee.lastName}"/>
                <td th:text="${singleEmployee.email}"/>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>